<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.book.module.mapper.CategoryMapper">

    <!-- 插入 -->
    <insert id="insert" parameterType="com.example.book.module.entity.Category">
        insert into category (
                <if test="category.categoryImages != null and category.categoryImages != ''">
                    category_images,
                </if>
                <if test="category.categoryName != null and category.categoryName != ''">
                    category_name,
                </if>
                is_deleted
        ) values (
                <if test="category.categoryImages != null and category.categoryImages != ''">
                    #{category.categoryImages},
                </if>
                <if test="category.categoryName != null and category.categoryName != ''">
                    #{category.categoryName},
                </if>
                #{category.isDeleted},
        )
    </insert>

    <!--更新-->
    <update id="update" parameterType="com.example.book.module.entity.Category">
        update category
        set id = #{category.id},
                <if test="category.categoryImages != null and category.categoryImages != ''">
                    category_images = #{category.categoryImages},
                </if>
                <if test="category.categoryName != null and category.categoryName != ''">
                    category_name = #{category.categoryName},
                </if>
        where id = #{category.id}
    </update>

</mapper>
